@import "tailwindcss";
.yellow{
    box-shadow: 0 0 200px 100px rgb(203, 206, 63);
}
.red{
    box-shadow: 0 0 200px 100px rgb(236, 31, 4);
}
.blue{
     box-shadow: 0 0 200px 100px rgb(26, 43, 99);
}
.nav{
    box-shadow:  inset 0 0 1px .1px rgba(255, 255, 255, 0.952);
    background: rgba(255, 255, 255, 0.164);
}
.circlee{
    background: linear-gradient(#ffb70062,#e93f3f2d,#3f64e973);
}
.btns-hero button {
    box-shadow: 5px  5px 20px 0 #00000042, -10px -10px 10px rgb(255, 255, 255);
}